/RemoteCtrl/.vs
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.tlog
/RemoteCtrl/RemoteCtrl/Debug/pch.obj
/RemoteCtrl/RemoteCtrl/Debug/vc142.pdb
/RemoteCtrl/RemoteCtrl/Debug/vc142.idb
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.vcxproj.FileListAbsolute.txt
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.res
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.pch
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.obj
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.log
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.ilk
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.exe.recipe
/RemoteCtrl/RemoteCtrl/Debug/RemoteCtrl.Build.CppClean.log
